.contact {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    height: 100vh;
    background-color: rgba(197, 202, 196, 255);
    justify-content: center;
    align-items: center;
    .contact-container {
        display: flex;
        .contact-header {
            font-size: 5rem;
            font-weight: 800;
            text-align: center;
        }
    }
}