.contact {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(197, 202, 196, 255);
    justify-content: center;
    align-items: center;
    .contact-info {
        display: flex;
        justify-content: space-around;
        //align-items: center;
        flex-direction: column;
        position: relative;
        width: 60vw;
        .contact-header {
            font-weight: 800;
            text-align: left;
        }
        .contact-info-pb {
            width: 50%;
            padding-top: 20px;
        }
        .contact-info-adress {
            line-height: 1.6;
            padding-top: 20px;
            .icons {
                display: flex;
                flex-direction: row;
                svg {
                    flex-direction: row;
                    padding: 20px 10px 10px 10px;
                }
            }
        }
        .contact-info-image img {
            height: auto;
            width: 200px;
            padding: 20px;
            margin: 0;
        }
    }
}